
@{Layout = null;}
@model MenuPartialViewModel

@{
    var homeActive = TempData["ActiveMenuElement"]?.ToString() == "home" ? "active" : "";
}

<div class="mobile-menu">
    <div class="overlay" onclick="toggleMenu()"></div>
    <div class="mobile-menu-wrap">
        <div class="close" onclick="toggleMenu()">
            <img src="media/close-icon.svg" alt="close menu icon">
        </div>

        <img class="mobile-menu-logo" src="media/logo.png" alt="mobile logo">
        <h2 class="mobile-menu-heading">
            Menu
        </h2>

        <ul>
            <li>
                <div class="mobile-menu-doctor mobile-menu-header" onclick="openMobileDoctor()">
                    @Vocabulary.Doctors
                    <img class="mobile-menu-arrow mobile-doctor-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
                <div class="mobile-menu-items mobile-doctor">
                    @foreach(var professional in Model.Professionals)
                    {
                        <a href="@professional.GetPageUrl()">@professional.GetHonorificPrefix @professional.GetName, @professional.GetHonorificSuffix</a>
                    } 
                </div>
            </li>
            <li>
                <div class="mobile-menu-hairloss mobile-menu-header" onclick="openMobileHairloss()">
                    Hair loss
                    <img class="mobile-menu-arrow mobile-hairloss-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
                <div class="mobile-menu-items mobile-hairloss">
                    <a href="#">Hair Loss Overview</a>
                    <a href="#">Hair Loss Causes</a>
                    <a href="#">Treatment options</a>
                    <a href="#">Hair transplant benefits</a>
                    <a href="#">Hair transplant cost</a>
                </div>
            </li>
            <li>
                <div class="mobile-menu-hairtransplant mobile-menu-header" onclick="openMobileHairtransplant()">
                    Hair transplant
                    <img class="mobile-menu-arrow mobile-hairtransplant-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
                <div class="mobile-menu-items mobile-hairtransplant">
                    <a href="#">Neograft Hair Transplant</a>
                    <a href="#">Robotic Hair Transplant</a>
                    <a href="#">Female Hair Transplant</a>
                    <a href="#">Male Hair Transplant</a>
                    <a href="#">Beard Hair Transplant</a>
                    <a href="#">Ethnic Hair Transplant</a>
                    <a href="#">Eyebrow Hair Transplant</a>
                    <a href="#">Hairline Restoration</a>
                </div>
            </li>
            <li>
                <div class="mobile-menu-nonsurgical mobile-menu-header" onclick="openMobileNonsurgical()">
                    Non surgical
                    <img class="mobile-menu-arrow mobile-nonsurgical-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
                <div class="mobile-menu-items mobile-nonsurgical">
                    <a href="#">Platelet Rich Plasma Injection (PRP)</a>
                    <a href="#">Capillus laser therapy</a>
                    <a href="#">Scalp Micropigmentation</a>
                </div>
            </li>
            <li>
                <a href="#" class="mobile-menu-header">
                    Before & after
                </a>
            </li>
            <li>
                <div class="mobile-menu-resources mobile-menu-header" onclick="openMobileResources()">
                    Resources
                    <img class="mobile-menu-arrow mobile-resources-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
                <div class="mobile-menu-items mobile-resources">
                    <a href="#">Financing</a>
                    <a href="#">Traveling Patients</a>
                    <a href="#">Blog</a>
                </div>
            </li>
            <li>
                <a href="#" class="mobile-menu-header">
                    About us
                </a>
            </li>
            <li>
                <a href="#" class="mobile-menu-header">
                    Contact
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="language">
                        <img class="language-flag" src="media/spanish.svg" alt="spanish flag">
                        Español
                    </span>
                </a>
            </li>
        </ul>

    </div>
</div>