<!DOCTYPE html>

@model BasePageViewModel

<html dir="ltr" lang="@Model.CurrentLanguage.AbbreviatedName.ToLower()-US">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=@(Settings.GetAnalyticsId)"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '@(Settings.GetAnalyticsId)');
    </script>
    @await Html.PartialAsync("headcontent/_globalmetas")
    @await Html.PartialAsync("headcontent/_globallinks")
    @await RenderSectionAsync("pageMetas", false)
    <meta name="priority" content="@Model.XmlPriority" />
    @await RenderSectionAsync("pageStyles", false)
    <meta name="visit_source" content="visit_source_value">
    <meta name="referrer_url" content="referrer_url_value">
    <meta name="user_host_address" content="user_host_address_value">
    <meta name="recaptcha_site_key" content="@Settings.ReCaptchaPublicKey">
    <meta name="center_id" content="@Settings.GetCenterId">
    <meta name="center_acronym" content="@Settings.GetCenterAcronym">
    <meta name="chat_conversion_id" content="@Settings.GetChatConversionId">
    <meta name="call_conversion_id" content="@Settings.GetCallConversionId">
    <meta name="contact_form_conversion_id" content="@Settings.GetContactFormConversionId">
    <meta name="financing_inquire_conversion_id" content="@Settings.GetFinancingInquireConversionId">
    <meta name="preop_form_conversion_id" content="@Settings.GetPreopFormConversionId">
    <meta name="analytics_id" content="@Settings.GetAnalyticsId">
    <meta name="livechat_id" content="@Settings.GetLivechatId">
    <meta name="livechat_group" content="@Settings.GetLivechatGroup">
    <meta name="is_mobile" content="@Model.IsMobile.ToString().ToLower()">
    <meta name="fb_pixel" content="@Settings.GetFacebookPixelId">
</head>
<body class="@Model.CurrentLanguage.AbbreviatedName.ToLower() @(bool.Parse(Settings.UseCdn) ? "cdn" : "")">

        @await Html.PartialAsync("header/pc/header_top.cshtml")
                
        @await Component.InvokeAsync("Menu", new { pageUrl = Model.GetPageUrl(Language.English.AbbreviatedName), spanishPageUrl = Model.GetPageUrl(Language.Spanish.AbbreviatedName)})

        @RenderBody()

        @await Html.PartialAsync("footer/Pc")

        @await RenderSectionAsync("pageScripts", false)
</body>
</html>