@{
    Layout = null;
}
@model MenuPartialViewModel

<div class="menu">
    <div class="overlay" onclick="toggleMenu()"></div>
    <div class="menu-wrap">
        <div class="close" onclick="toggleMenu()">
            <img src="/themes/care4hair/images/close-icon.svg" alt="close menu icon">
        </div>

        <img class="menu-logo" src="/themes/care4hair/images/logo.png" alt="">
        <h2 class="menu-heading">
            @Vocabulary.Menu
        </h2>
        <ul>
            <li>
                <div class="menu-doctor">
                    @Vocabulary.Doctors
                    <img class="menu-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-hairloss">
                    @Vocabulary.HairLoss
                    <img class="menu-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-hairtransplant">
                    @Vocabulary.HairTransplant
                    <img class="menu-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-nonsurgical">
                    @Vocabulary.NonSurgical
                    <img class="menu-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <a href="#">
                    @Vocabulary.BeforeAndAfter
                </a>
            </li>
            <li>
                <div class="menu-resources">
                    @Vocabulary.Resources
                    <img class="menu-arrow" src="/themes/care4hair/images/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <a href="@Site.Instance.About.GetPageUrl()">
                    @Site.Instance.About.GetName
                </a>
            </li>
            <li>
                <a href="@Site.Instance.Contact.GetPageUrl()">
                    @Site.Instance.Contact.GetName
                </a>
            </li>
            <li>
                @foreach (var translation in Model.CurrentLanguage.AvailableTranslations)
                {
                    <a href="@Model.GetPageUrl(translation.AbbreviatedName)">
                        <span class="language">
                            <img class="language-flag" src="@translation.FlagIconPath" alt="spanish flag">
                            @translation.Name
                        </span>
                    </a>
                }
            </li>
        </ul>
        <div class="doctors-submenu submenu">
            @{
                string variable = ",";
                string honorifsuf = "";
            }
           
            @foreach (var professional in Model.Professionals)
            {

                if (professional.GetHonorificSuffix == "APRN")
                {
                    variable = ",";
                    honorifsuf = professional.GetHonorificSuffix;

                }
                else
                {
                    honorifsuf = "";
                    variable = "";
                }

                <a class="submenu-item" href="@professional.GetPageUrl()">@professional.GetHonorificPrefix @professional.GetName@variable @honorifsuf</a>
            }
        </div>
        <div class="hairloss-submenu submenu">
            <a href="#" class="submenu-item">
                Hair Loss Overview
            </a>
            <a href="#" class="submenu-item">
                Hair Loss Causes
            </a>
            <a href="#" class="submenu-item">
                Treatment options
            </a>
            <a href="#" class="submenu-item">
                Hair transplant benefits
            </a>
            <a href="#" class="submenu-item">
                Hair transplant cost
            </a>
        </div>
        <div class="hairtransplant-submenu submenu">
            <div class="submenu-list">
                <div class="submenu-header">Hair transplant technology</div>
                <div class="submenu-subheader">FUE</div>
                <a href="#" class="submenu-item">
                    Neograft Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Robotic Hair Transplant
                </a>
            </div>
            <div class="submenu-list">
                <div class="submenu-header">@Vocabulary.Procedures</div>
                @foreach (var category in Model.Categories)
                {
                    @foreach (var service in category.Services)
                    {
                        <a href="@service.GetPageUrl()" class="submenu-item">
                            @service.GetShortName
                        </a>
                    }
                }
            </div>
        </div>
        <div class="nonsurgical-submenu submenu">
            <a href="#" class="submenu-item">
                Platelet Rich Plasma Injection (PRP)
            </a>
            <a href="#" class="submenu-item">
                Capillus laser therapy
            </a>
            <a href="#" class="submenu-item">
                Scalp Micropigmentation
            </a>
        </div>
        <div class="resources-submenu submenu">
            <a href="@Site.Instance.FinancingOptionPage.GetPageUrl()" class="submenu-item">
                @Site.Instance.FinancingOptionPage.GetName
            </a>
            <a href="@Site.Instance.OutOfTownPatients.GetPageUrl()" class="submenu-item">
                @Site.Instance.OutOfTownPatients.GetName
            </a>
            <a href="@Site.Instance.Blog.GetIndexPageUrl()" class="submenu-item">
                @Site.Instance.Blog.GetIndexPageName()
            </a>
        </div>
        <h2 class="menu-heading">
            @Vocabulary.ContactInfo
        </h2>
        <ul class="contact-info">
            <li>
                <a class="contact-info-item" href="@Settings.GetEmailLink">
                    <img src="/themes/care4hair/images/menu-mail.svg" alt="mail icon">
                    @Settings.GetEmail
                </a>
            </li>
            <li>
                <a class="contact-info-item" href="@Settings.GetPhoneLink">
                    <img src="/themes/care4hair/images/menu-phone.svg" alt="phone icon">
                    @Settings.GetPhoneFormated
                </a>
            </li>
        </ul>
        <div class="menu-social-media">
            <a href="@Settings.GetFacebook"><img src="/themes/care4hair/images/menu-facebook.svg" alt="social media icon"></a>
            <a href="@Settings.GetYoutubeChannel"><img src="/themes/care4hair/images/menu-youtube.svg" alt="social media icon"></a>
            <a href="@Settings.GetInstagram"><img src="/themes/care4hair/images/menu-instagram.svg" alt="social media icon"></a>
            <a href="@Settings.GetTiktok"><img src="/themes/care4hair/images/menu-tiktok.svg" alt="social media icon"></a>
        </div>
    </div>
</div>