@model HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sec-main">
    <img class="bg-img" src="/themes/care4hair/images/bg-img.jpeg" alt="background image">
</section>

<section class="sec-2">
    <div class="overlay"></div>
    <img class="sec-2-bg-img" src="/themes/care4hair/images/sec-2-separator.jpeg" alt="background image for section 2">

    <div class="sec-2-wrap">
        <p class="quote">“Hair transplant is a meticulous combination between cosmetic surgery, technology, and artistry.”</p>

        <!-- <div class="doctor-wrap">
            <img src="/themes/care4hair/images/doctor-img-1.png" alt="image of doctor">
            Manuel R. Mendizabal
            <span>Hair transplant surgeon</span>
        </div> -->
    </div>
</section>

<section class="sec-3">
    <div class="sec-3-wrap">
        <div class="sec-3-box text-right">
            <div class="box-content">
                <span class="subheader">WHY CARE4HAIR</span>
                <h1>Miami Hair Transplant Clinic</h1>
                <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
                <p>
                    Care4Hair employs the most advanced techniques and technology for hair restoration available. Patients from Miami and around the world trust our team to help them choose from various hair loss treatment options. Whether your hair loss is caused by factors such as heredity, disease, or trauma, you can rest assured that the Care4Hair team will design a surgical treatment plan tailored to your precise needs so you can live with confidence once more!
                </p>
                <a class="button" href="#">about us</a>
            </div>
        </div>
        <div class="sec-3-box text-left">
            <div class="box-content">
                <img src="/themes/care4hair/images/hair-restoration.png" alt="hair restoration image">
                <h2>Individualized Hair Restoration Solutions</h2>
                <p>
                    Care4Hair recommends the most fitting procedures for patients of different ages, genders, hair loss types, and aesthetic goals while emphasizing optimal aftercare practices to boost permanent results.
                </p>
                <img src="/themes/care4hair/images/treatment-options.png" alt="treatment options image">
                <h2>Surgical And Non-Surgical Treatment Options</h2>
                <p>
                    Although most patients suffering hair loss typically seek surgical hair transplant options, Care4Hair also provides non-surgical hair rehabilitation methods depending on the patient’s condition and requests.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="sec-4">
    <img class="bg-img" src="/themes/care4hair/images/sec-4-bg.jpeg" alt="background image">

    <div class="sec-4-wrap">
        <span class="subheader">OUR RESULTS</span>
        <h1>Before And After</h1>
        <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
        <div class="image-carousel">
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-1.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-1.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-2.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-2.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-3.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-3.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-4.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-4.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-5.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-5.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-6.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-6.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-7.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-7.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/before-8.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>before</span>
            </div>
            <div class="image">
                <img src="/themes/care4hair/images/before-after/after-8.jpeg" alt="image of person">
                <div class="overlay"></div>
                <span>after</span>
            </div>
        </div>
        <div class="carousel-selectors">
            <div class="selector dot1">
                <div class="inner-dot"></div>
            </div>
            <div class="selector dot2">
                <div class="inner-dot"></div>
            </div>
            <div class="selector dot3">
                <div class="inner-dot"></div>
            </div>
            <div class="selector dot4">
                <div class="inner-dot"></div>
            </div>
            <div class="selector dot5">
                <div class="inner-dot"></div>
            </div>
            <div class="selector dot6">
                <div class="inner-dot"></div>
            </div>
        </div>
        <div class="button">view photo gallery</div>
    </div>
</section>

<section class="sec-5">
    <img class="sec-5-bg-img" src="/themes/care4hair/images/sec-5-bg.png" alt="background image">
    <div class="sec-5-wrap">
        <img class="sec-5-wrap-img" src="/themes/care4hair/images/artas-system-robotic-hair-transplant.png" alt="artas hair transplant machine">
        <div class="sec-5-content-wrap">
            <div class="sec-5-content">
                <span class="subheader">
                    technology
                </span>
                <h1>
                    ARTAS® Robotic Hair Transplant
                </h1>
                <div class="tabs-wrap">
                    <div class="tab technique-tab1 active" onclick="openTechnique1()">
                        technique
                    </div>
                    <div class="tab benefits-tab1" onclick="openBenefits1()">
                        benefits
                    </div>
                </div>
                <div class="tab-info technique1 active">
                    <a href="https://care4hairmiami.com/robotic-hair-transplant-miami" target="_blank">ARTAS</a> is a fully robotic <a href="https://care4hairmiami.com/fue-hair-transplant-in-miami" target="_blank">Follicular Unit Extraction (FUE)</a> hair transplanting device that operates via computer programming. Its 3-D stereoscopic vision system determines the optimal hairs for grafting by detecting and evaluating hair type, density, and growth angles.
                    <ul>
                        <li>
                            Computerized digital imaging for micron-level accuracy
                        </li>
                        <li>
                            Premiere algorithm determines the best follicles to extract
                        </li>
                        <li>
                            Analyzes, monitors, and tracks each hair sixty times per second
                        </li>
                        <li>
                            Calculated distribution and optimal spacing between grafts
                        </li>
                    </ul>
                    <a href="#" class="tab-button">
                        more about artas
                    </a>
                </div>
                <div class="tab-info benefits1">
                    With ARTAS technology, the thousandth graft maintains the same stellar quality as the first graft.
                    <ul>
                        <li>Can harvest up to 1,000 grafts per hour, making it up to 50% faster than other FUE systems</li>
                        <li>Hair is grafted with protective tissue, thus being less susceptible to the drying effects of suction compared to other FUE hair transplant technologies</li>
                        <li>Less risk of damage to surrounding healthy hairs</li>
                    </ul>
                    <a href="#" class="tab-button">
                        more about artas
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-6">
    <div class="sec-6-bg-img"></div>
    <div class="sec-6-wrap">
        <div class="sec-6-header">Free Virtual Consultation</div>
        <p>
            Whether you are a patient in Miami or from out of town, you can send photos to our Care4Hair team. Our specialists will provide you with feedback like they would on your free preliminary hair loss evaluation.
            Note: Not all patients may qualify for this type of evaluation.
            <br><br>
            For more information, please contact us at
        </p>
        <a href="tel:3052626070" class="button light">(305) 262-6070</a>
    </div>
</section>

<section class="sec-7">
    <img class="sec-7-bg-img" src="/themes/care4hair/images/sec-7-bg.png" alt="background image">
    <div class="sec-7-wrap">
        <img class="sec-7-wrap-img" src="/themes/care4hair/images/neograft-device-updated.png" alt="artas hair transplant machine">
        <div class="sec-7-content-wrap">
            <div class="sec-7-content">
                <span class="subheader">
                    technology
                </span>
                <h1>
                    Neograft® Automated FUE
                </h1>
                <div class="tabs-wrap">
                    <div class="tab technique-tab2 active" onclick="openTechnique2()">
                        technique
                    </div>
                    <div class="tab benefits-tab2" onclick="openBenefits2()">
                        benefits
                    </div>
                </div>
                <div class="tab-info technique2 active">
                    <a href="https://care4hairmiami.com/neograft-hair-transplant-in-miami" target="_blank">NeoGraft</a> is one of the leading implantation technologies utilized when performing a Follicular Unit Extraction (FUE) hair transplant. In place of a scalpel, the semi-automatic Neograft technology comfortably extracts your own individual hair follicles from the donor site to be reimplanted in balding recipient areas.
                    <ul>
                        <li>
                            Streamlined process allows surgeons to extract hair follicles with greater precision.
                        </li>
                        <li>
                            Prevents the noticeable scarring caused by conventional hair transplant techniques.
                        </li>
                        <li>
                            NeoGraft uses hair follicles in batches of 1 to 4 units, resulting in a more natural-looking hairline for both men and women.
                        </li>
                    </ul>
                    <a href="#" class="tab-button">
                        more about neograft
                    </a>
                </div>
                <div class="tab-info benefits2">
                    The <b>FUE</b> process with <b>NeoGraft</b> combines advanced technology with the guided precision of a qualified surgeon.
                    <ul>
                        <li>
                            Can be performed on any hair type
                        </li>
                        <li>
                            Customized punch sizes selected by your surgeon according to the nature and quality of your hair
                        </li>
                        <li>
                            Lower transection rates (damage rates) to grafted follicles when performed by an experienced <b>NeoGraft</b> surgeon
                        </li>
                        <li>
                            More affordable than other <b>FUE</b> hair transplant technologies
                        </li>
                    </ul>
                    <a href="#" class="tab-button">
                        more about neograft
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-8">
    <div class="sec-8-wrap">
        <span class="subheader">
            our services
        </span>
        <h1>What Care4Hair Offers You</h1>
        <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">

        <div class="services-wrap">
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services/fue-icon.png" alt="services icon">
                <h2 class="service-heading">
                    FUE
                </h2>
                <p class="service-text">
                    FUE hair transplant is a minimally invasive procedure that involves extracting individual hair follicles from a donor part of the body and manually implanting them into balding areas.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services/prp-icon.png" alt="services icon">
                <h2 class="service-heading">
                    PRP
                </h2>
                <p class="service-text">
                    Platelet-rich plasma (PRP) is a treatment that stimulates hair growth. It is also used to help decrease hair loss; usually combined with other hair loss treatments and procedures.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services/hairline-restoration-icon.png" alt="services icon">
                <h2 class="service-heading">
                    Hairline Restoration
                </h2>
                <p class="service-text">
                    Our hair restoration specialists will design your new hairline in accordance with your current hairline positioning, shape, density, and hair texture for a natural appearance.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services/eyebrow-transplant-icon.png" alt="services icon">
                <h2 class="service-heading">
                    Eyebrow Transplant
                </h2>
                <p class="service-text">
                    If you have thin, patchy, or missing eyebrows, our doctor specializes in minimally invasive eyebrow hair transplants based on your ideal design and fullness goals.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services/facial-hair-transplant-icon.png" alt="services icon">
                <h2 class="service-heading">
                    Facial Hair Transplant
                </h2>
                <p class="service-text">
                    If you have scattered beard growth or facial scarring where hair cannot grow, a facial hair transplant will improve hair density, and modify the pattern of your facial hair.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
            <div class="service">
                <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="services background" class="service-bg">
                <img class="service-icon" src="/themes/care4hair/images/services//ethnic-hair-transplant-icon.png" alt="services icon">
                <h2 class="service-heading">
                    Ethnic Hair Transplant
                </h2>
                <p class="service-text">
                    Hair transplants are achievable for patients of all ethnicities. Specifically, afrocentric hair transplants require the expertise of a skilled surgeon due to the hair’s curved form.
                </p>
                <a href="#" class="service-button">
                    Details
                </a>
            </div>
        </div>
    </div>
</section>

<section class="sec-9">
    <img class="bg-img" src="/themes/care4hair/images/team/bg-img.jpeg" alt="background image">
    <div class="financing-options">
        <div class="overlay"></div>
        <div class="text-wrap">
            <h2>Expore Your Financing Options Today!</h2>
            <p>
                Care4Hair accepts certain financing options for your procedure. Let’s work together to reach your aesthetic goals.
            </p>
        </div>
        <div class="button light">financing</div>
    </div>
    <div class="sec-9-wrap">
        <span class="subheader">
            our professionals
        </span>
        <h1>Meet Our Skilled Team</h1>
        <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">

        <div class="team">
            @{
                var featuredProfessionals = Model.Professionals.Where(p => p.Featured == "true").ToArray();           

                @foreach (var featuredProfessional in featuredProfessionals)
                {
                    
                
                <a href="#" class="member">
                <div class="overlay"></div>
                <div class="lazy">
                 @ViewHelpers.Picture(featuredProfessional.GetImage("750x977","jpeg"), @featuredProfessional.GetName, "https://via.placeholder.com/750x977", "img-fluid")
               </div>
                <div class="text">
                    <div class="doctor-name">
                        @featuredProfessional.GetName
                    </div>
                </div>
                <span>
                            @{
                                string honorific = "";

                                if (featuredProfessional.GetHonorificPrefix != "")
                                {
                                    honorific = "[" + featuredProfessional.GetHonorificPrefix + "]";

                                }
                                else
                                {
                                     honorific = "[" + featuredProfessional.GetHonorificSuffix + "]";

                                }
                            }
                          @honorific
                </span>
            </a>
            }}
           
        </div>
    </div>
</section>

<section class="sec-10">
    <div class="sec-10-wrap">
        <div class="sec-10-box text-right">
            <div class="box-content">
                <span class="subheader">skilled team</span>
                <h1>
                    High-Tech Hair Transplants By The Best Doctors
                </h1>
                <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
                <p>
                    Care4Hair employs the most advanced techniques and technology for hair restoration available. Patients from Miami and around the world trust our team to help them choose from various hair loss treatment options. Whether your hair loss is caused by factors such as heredity, disease, or trauma, you can rest assured that the Care4Hair team will design a surgical treatment plan tailored to your precise needs so you can live with confidence once more!
                </p>
            </div>
        </div>
        <div class="sec-10-box text-left">
            <div class="box-content">
                <img class="sec-10-img" src="/themes/care4hair/images/sec-10-img.png" alt="hair transplant image">
            </div>
        </div>
    </div>
</section>

<section class="sec-11">
    <img class="bg-img" src="/themes/care4hair/images/procedure/sec-11-bg.jpeg" alt="background image">
    <div class="sec-11-wrap">
        <span class="subheader">
            JUST A FEW STEPS FOR A BIG TRANSFORMATION
        </span>
        <h1>
            Your Procedure At Care4Hair
        </h1>
        <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
        <div class="procedures-wrap">
            <div class="procedure procedure1 active" onclick="activateProcedure1()">
                <span class="number">
                    01
                </span>
                <div class="icon-wrap">
                    <img src="/themes/care4hair/images/procedure/icon-1.svg" alt="icon for procedure">
                </div>
                <div class="procedure-name">
                    Initial Evaluation
                </div>
            </div>
            <div class="procedure procedure2" onclick="activateProcedure2()">
                <span class="number">
                    02
                </span>
                <div class="icon-wrap">
                    <img src="/themes/care4hair/images/procedure/icon-2.svg" alt="icon for procedure">
                </div>
                <div class="procedure-name">
                    Design Phase
                </div>
            </div>
            <div class="procedure procedure3" onclick="activateProcedure3()">
                <span class="number">
                    03
                </span>
                <div class="icon-wrap">
                    <img src="/themes/care4hair/images/procedure/icon-3.svg" alt="icon for procedure">
                </div>
                <div class="procedure-name">
                    Surgical Process
                </div>
            </div>
            <div class="procedure procedure4" onclick="activateProcedure4()">
                <span class="number">
                    04
                </span>
                <div class="icon-wrap">
                    <img src="/themes/care4hair/images/procedure/icon-4.svg" alt="icon for procedure">
                </div>
                <div class="procedure-name">
                    Recovery & Follow Ups
                </div>
            </div>
        </div>
        <div class="procedure-text">
            <div class="procedure-text-1 active">
                At your initial consultation, you can freely explain your hair loss history and specify your problem areas. The doctor will evaluate which procedures you are a candidate for and guide you through the selection process. If you have any questions or concerns, rest assured you will have the Care4Hair team’s full attention; we will be there to assist from the very beginning.
            </div>
            <div class="procedure-text-2">
                Once a strategy has been developed after the initial consultation, our doctor and his team will collaborate with you to design a natural hairline, beard, or eyebrow shape to suit your needs and desired look.
            </div>
            <div class="procedure-text-3">
                Your surgical process will vary depending on the hair transplant procedure elected. However, most procedures consist of the following steps: The Care4Hair team shaves both the donor and recipient areas for easier access to your hair and skin, a local anesthetic is applied to the area, hair follicles are harvested in accordance with the selected procedure, and then we clean and bandage you for a speedy recovery.
            </div>
            <div class="procedure-text-4">
                The Care4Hair team will ensure you have the proper recovery instructions before you are discharged. Our doctor enforces proper post-procedure care for all of his patients in order to promote optimal and permanent results.
            </div>
        </div>
        <a href="#" class="button light">Start today</a>
    </div>
</section>

<section class="sec-12">
    <div class="sec-12-bg-img"></div>
    <div class="sec-12-wrap">
        <div class="testimonials-box">
            <div class="subheader">testimonials</div>
            <h1>What People Say</h1>
            <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
            <div class="testimonials-wrap">
                <div class="testimonial">
                    <p>
                        “ The staff was friendly and my experience was great. I was just getting ready for work today and I looked in the mirror to take a selfie. I had thinning hair in front of my head but the surgeon did a great job filling it in with the help of the Neograft tool. Thank you so much!”
                    </p>
                    <div class="testimonial-name">
                        Joe Prats
                    </div>
                    <span>
                        Patient
                    </span>
                </div>
            </div>
            <div class="arrows">
                <div class="left-arrow">
                    <img src="/themes/care4hair/images/testimonial-arrow.svg" alt="arrow icon">
                </div>
                <div class="right-arrow">
                    <img src="/themes/care4hair/images/testimonial-arrow.svg" alt="arrow icon">
                </div>
            </div>
        </div>
        <img src="/themes/care4hair/images/sec-12-img.jpeg" alt="image of person" class="testimonial-img">
    </div>
</section>

<section class="sec-13">
    <img src="/themes/care4hair/images/sec-13-bg-img.png" alt="background image" class="bg-img">
    <img src="/themes/care4hair/images/sec-13-bg-img-mobile.png" alt="background image" class="bg-img mobile">
    <div class="sec-13-wrap">
        <div class="subheader">faqs</div>
        <h1>Considering A Hair Restoration Procedure?</h1>
        <img class="separator" src="/themes/care4hair/images/separator.svg" alt="separator">
        <div class="faq-wrap">
            <button class="accordion">What hair loss conditions does Care4Hair treat?</button>
            <div class="panel">
                <p>
                    Care4Hair treats men and women with hair loss caused by various factors- including but not limited to- heredity, disease, and trauma.
                </p>
            </div>

            <button class="accordion">Which hair transplant technique is the best for me?</button>
            <div class="panel">
                <p>
                    The best hair transplant technique for you will depend on your hair type, color, and desired results. Some FUE methods are more suitable for curly and light-colored hair than others, which is why we encourage scheduling a free consultation with our doctor to discuss your unique circumstance.
                </p>
            </div>

            <button class="accordion">Are hair transplant results permanent?</button>
            <div class="panel">
                <p>
                    Yes, hair transplant results are long-lasting and deemed to be permanent since the harvested hair follicles are genetically programmed to keep growing. However, the hair transplant procedure should be performed by a skilled and experienced hair restoration specialist like our doctor who also enforces post-procedure care instructions for all of his patients.
                </p>
            </div>

            <button class="accordion">How much does a hair transplant cost at Care4Hair in Miami?</button>
            <div class="panel last">
                <p>
                    The average cost of a hair transplant at Care4Hair ranges from $2.00 to $3.50 per graft. The cost varies depending on the selected procedure, amount of hair grafted, and the technologies being utilized. Since every patient’s situation is unique, please speak with Care4Hair directly by scheduling a free consultation here.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="sec-14">
    <div class="bg">
        <div class="overlay"></div>
        <img class="bg-img" src="/themes/care4hair/images/sec-14-bg-img.jpeg" alt="background image">
    </div>
    <div class="sec-14-wrap">
        <div class="contact-message">
            <img src="/themes/care4hair/images/services/services-bg.jpeg" alt="background image" class="contact-message-bg">
            <div class="subheader">miami</div>
            <h1>Your Hair Transplant Destination</h1>
            <p>
                If you are a patient in Miami seeking hair transplant options, give us a call to schedule a free consultation with our doctor and his team of hair specialists.
                <br><br>
                Together, we can design a surgical treatment plan tailored to your needs and aesthetic goals.
            </p>
            <div class="contact-message-subheader">Out Of Town Patients</div>
            <p>
                Patients outside of Miami can schedule a free virtual consultation with our doctor. Our team will guide you through the hair transplant process to help restore your confidence once more.
            </p>
            <a href="#" class="plan-button">
                plan your trip
            </a>
        </div>
        <div class="contact-form-wrap">
            <h2>Contact Us</h2>
            <p>
                Request info or schedule a hair transplant consultation today.
            </p>
            <form action="">
                <input type="text" id="name" placeholder="YOUR NAME *" required>
                <input type="tel" id="phone" placeholder="PHONE *" required>
                <input type="email" id="email" placeholder="YOUR EMAIL *" required>
                <textarea name="message" id="message" cols="30" rows="5" placeholder="MESSAGE..."></textarea>
                <button type="submit">
                    send message
                </button>
            </form>
        </div>
    </div>
</section>

@section pageMetas{
    @Html.Partial(Model.GetMetasFilePath)
    <link rel="alternate" hreflang="@Language.English.Code.ToLower()" href="@Settings.GetFullDomain@Model.GetPageUrl(Language.English.AbbreviatedName)" />
    <link rel="alternate" hreflang="@Language.Spanish.Code.ToLower()" href="@Settings.GetFullDomain@Model.GetPageUrl(Language.Spanish.AbbreviatedName)" />
}

@section pageStyles{ 
    <link rel="stylesheet" href="/themes/care4hair/css/header.css">
    <link rel="stylesheet" href="/themes/care4hair/css/style.css">
    <link rel="stylesheet" href="/themes/care4hair/css/footer.css">

    @if (Model.IsMobile) {
      
    }
    else {

    }
}

@section pageScripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.min.js"></script>
    <script src="/themes/care4hair/js/scripts.js"></script>
    <script>
        gsap.to("header", {
            scrollTrigger: {
                trigger: "body",
                start: "150 top",
                toggleClass: { targets: "header", className: "header-bg" }
            },
        });
    </script>

    @if (Model.IsMobile)
    {

    }
    else
    {
       
    }
}