@{
    Layout = null;
}
<header>
    <nav>
        <div class="call">
            <img src="/themes/care4hair/images/phone.svg" alt="phone icon">
            <a href="@Settings.GetPhoneLink">@Settings.GetPhoneFormated</a>
        </div>
        <a href="@Site.Instance.HomePage.GetPageUrl()" class="logo">
            <img src="@Settings.GetCenterLogoPath" alt="Care4Hair Logo">
        </a>
        <div class="nav-item">
            <a href="@Settings.GetPortalLink" class="patient-portal">@Vocabulary.PatientPortal</a>
            <div class="nav-menu" onclick="toggleMenu()">
                <img src="/themes/care4hair/images/menu-icon.svg" alt="menu icon" class="menu-icon">
            </div>
        </div>
    </nav>
</header>