
@{Layout = null;}
@model MenuPartialViewModel

@{
    var homeActive = TempData["ActiveMenuElement"]?.ToString() == "home" ? "active" : "";
}
<div class="menu">
    <div class="overlay" onclick="toggleMenu()"></div>
    <div class="menu-wrap">
        <div class="close" onclick="toggleMenu()">
            <img src="media/close-icon.svg" alt="close menu icon">
        </div>

        <img class="menu-logo" src="media/logo.png" alt="">
        <h2 class="menu-heading">
            Menu
        </h2>
        <ul>
            <li>
                <div class="menu-doctor">
                    @Vocabulary.Doctors
                    <img class="menu-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-hairloss">
                    Hair loss
                    <img class="menu-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-hairtransplant">
                    Hair transplant
                    <img class="menu-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <div class="menu-nonsurgical">
                    Non surgical
                    <img class="menu-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <a href="#">
                    Before & after
                </a>
            </li>
            <li>
                <div class="menu-resources">
                    Resources
                    <img class="menu-arrow" src="media/menu-arrow.svg" alt="arrow icon">
                </div>
            </li>
            <li>
                <a href="#">
                    About us
                </a>
            </li>
            <li>
                <a href="#">
                    Contact
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="language">
                        <img class="language-flag" src="media/spanish.svg" alt="spanish flag">
                        Español
                    </span>
                </a>
            </li>
        </ul>
        <div class="doctors-submenu submenu">
            @foreach(var professional in Model.Professionals)
            {
                <a class="submenu-item" href="@professional.GetPageUrl()">@professional.GetHonorificPrefix @professional.GetName, @professional.GetHonorificSuffix</a>
            }           
        </div>
        <div class="hairloss-submenu submenu">
            <a href="#" class="submenu-item">
                Hair Loss Overview
            </a>
            <a href="#" class="submenu-item">
                Hair Loss Causes
            </a>
            <a href="#" class="submenu-item">
                Treatment options
            </a>
            <a href="#" class="submenu-item">
                Hair transplant benefits
            </a>
            <a href="#" class="submenu-item">
                Hair transplant cost
            </a>
        </div>
        <div class="hairtransplant-submenu submenu">
            <div class="submenu-list">
                <div class="submenu-header">Hair transplant technology</div>
                <div class="submenu-subheader">FUE</div>
                <a href="#" class="submenu-item">
                    Neograft Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Robotic Hair Transplant
                </a>
            </div>
            <div class="submenu-list">
                <div class="submenu-header">Hair procedure</div>
                <a href="#" class="submenu-item">
                    Female Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Male Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Beard Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Ethnic Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Eyebrow Hair Transplant
                </a>
                <a href="#" class="submenu-item">
                    Hairline Restoration
                </a>
            </div>
        </div>
        <div class="nonsurgical-submenu submenu">
            <a href="#" class="submenu-item">
                Platelet Rich Plasma Injection (PRP)
            </a>
            <a href="#" class="submenu-item">
                Capillus laser therapy
            </a>
            <a href="#" class="submenu-item">
                Scalp Micropigmentation
            </a>
        </div>
        <div class="resources-submenu submenu">
            <a href="#" class="submenu-item">
                Financing
            </a>
            <a href="#" class="submenu-item">
                Traveling Patients
            </a>
            <a href="#" class="submenu-item">
                Blog
            </a>
        </div>
        <h2 class="menu-heading">
            Contact Info
        </h2>
        <ul class="contact-info">
            <li>
                <a class="contact-info-item" href="mailto:info@care4miami.com">
                    <img src="media/menu-mail.svg" alt="mail icon">
                    info@care4miami.com
                </a>
            </li>
            <li>
                <a class="contact-info-item" href="tel:3052626070">
                    <img src="media/menu-phone.svg" alt="phone icon">
                    (305) 262 6070
                </a>
            </li>
        </ul>
        <div class="menu-social-media">
            <a href="#"><img src="media/menu-facebook.svg" alt="social media icon"></a>
            <a href="#"><img src="media/menu-youtube.svg" alt="social media icon"></a>
            <a href="#"><img src="media/menu-instagram.svg" alt="social media icon"></a>
        </div>
    </div>
</div>