@model BasePageWithStaticHtmlFilesViewModel 

<title>@Settings.GetCenterName - Miami Cosmetic Surgery Center</title>
<meta name="description" content="Welcome to @Settings.GetCenterName, we offer services of excellence in plastic and cosmetic surgery in Miami. Popular cosmetic procedures performed by top plastic surgeons." />
<meta name="page-topic" content="@Settings.GetCenterName, plastic surgeons, board certified doctors, plastic surgery in Miami" />
 <meta name="page-type" content="Website" />
<meta property="og:type" content="Home Page article" />
<meta property="og:title" content="@Settings.GetCenterName - Miami, Florida" />
<meta property="og:description" content="Welcome to @Settings.GetCenterName, we offer services of excellence in plastic and cosmetic surgery in Miami. Popular cosmetic procedures performed by top plastic surgeons." />
<meta property="og:url" content="/" />
<meta property="article:tag" content="Board Certified Surgeons" />
<meta property="article:tag" content="Brazilian Butt Lift Miami" />
<meta property="article:tag" content="Liposuction Miami" />
<meta property="article:tag" content="Breast augmentation" />
<meta property="article:tag" content="Butt Lift" />
@*<meta property="article:tag" content="Jonathan Fisher" />*@
<meta property="article:tag" content="breast implants" />
<meta property="article:tag" content="Liposuction Laser" />
<meta property="article:tag" content="@Settings.GetCenterName" />
<meta property="article:tag" content="South Florida" />
<meta property="article:tag" content="Tummy Tuck" />
<meta property="article:tag" content="@Settings.GetCenterName center" />
<meta property="article:published_time" content="2022-07-21T12:44:34@(Model.GetTimeZone)" />
<meta property="article:modified_time" content="@Model.GetLastModifiedDate" />
<meta property="og:image" content="/content/themes/adore/images/logo/logo.png" />
<link rel="canonical" href="https://adoreplasticsurgery.com" />

@*<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Organization",
    "name": "@Settings.GetCenterName",
    "description": "@Settings.GetCenterName is a top practice in Miami offering full body cosmetic surgery and non-surgical treatments to help you look as good as you feel within.",
    "image": "",
    "logo": "https://cdn.adoreplasticsurgery.com/content/themes/adore/images/logo/logo-gray.png",
    "url": "https://adoreplasticsurgery.com",
    "contactPoint": [{
    "@@type": "ContactPoint",
    "telephone": "+1-305-262-8347",
    "contactType": "customer service"
    }],
    "sameAs": ["","","",""],
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "8512 SW 8th St",
    "addressLocality": "Miami",
    "postalCode": "33144",
    "addressCountry": "United States"
    }
    }
</script>*@