@model ProfessionalIndexablePageViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml";}



<section class="doctor-sec">
        <div class="doctor-sec-wrap">
            <div class="doctor-about">
                <img src="@Model.GetImage("750x977", "jpeg")" alt="image of doctor" class="doctor-image">
                <div class="doctor-about-text-wrap">
                    <img src="/themes/care4hair/images/doctors-pages/baks-servicios-black.jpeg" alt="background image" class="bg-img">
                <div class="doctor-about-text">
                    <h2 class="doctor-h2">
                        @Model.GetName
                    </h2>
                    <span>@Model.GetJobTitle</span>
                    <p class="doctor-desc">
                        @Model.GetDescription                          
                    </p>
                    <ul>
                        <li><span>@Vocabulary.Experience.ToLower():</span>&nbsp; @Model.YearsExperience @Vocabulary.Years</li>
                        <li><span>@Vocabulary.Email.ToLower():</span>&nbsp; <a href="@Settings.GetEmailLink"></a> @Settings.GetEmail</li>
                        <li><span>@Vocabulary.Phone.ToLower():</span>&nbsp; <a href="@Settings.GetPhoneLink"></a> @Settings.GetPhoneFormated</li>
                    </ul>
                </div>
            </div>
        </div>
        @await Html.PartialAsync(Model.GetArticleFilePath)
    </div>
</section>

    <section class="accent-contact-sec">
        <div class="accent-contact-sec-wrap">
            <h2 class="h2-heading doctor-page-contact-header">
                @Vocabulary.ContactUs
            </h2>

            <form class="accent-sec-form" action="">
                <input type="text" id="name" placeholder="YOUR NAME *" required>
                <input type="tel" id="phone" placeholder="PHONE *" required>
                <input type="email" id="email" placeholder="YOUR EMAIL *" required>
                <textarea name="message" id="message" cols="30" rows="5" placeholder="MESSAGE..."></textarea>
                <button type="submit">
                    send message
                </button>
            </form>
        </div>
    </section>


@section pageMetas{
    @Html.Partial(Model.GetMetasFilePath)
    <link rel="alternate" hreflang="@Language.English.Code.ToLower()" href="@Settings.GetFullDomain@Model.GetPageUrl(Language.English.AbbreviatedName)" />
    <link rel="alternate" hreflang="@Language.Spanish.Code.ToLower()" href="@Settings.GetFullDomain@Model.GetPageUrl(Language.Spanish.AbbreviatedName)" />
}

@section pageStyles{ 
        <link rel="stylesheet" href="/themes/care4hair/css/header.css">
        <link rel="stylesheet" href="/themes/care4hair/css/style.css">
        <link rel="stylesheet" href="/themes/care4hair/css/footer.css">

        @if (Model.IsMobile)
        {
        }
        else
        {
        }
}

@section pageScripts{

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.min.js"></script>
        <script src="/themes/care4hair/js/scripts.js"></script>
        <script>
            gsap.to("header", {
                scrollTrigger: {
                    trigger: "body",
                    start: "150 top",
                    toggleClass: { targets: "header", className: "header-bg" }
                },
            });
        </script>

    @if (Model.IsMobile)
    {

    }
    else
    {

    }
}